<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head(~{::title},~{})">
    <title>Change password</title>
</head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" th:text="#{form.heading.changePass}">Change password</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.</p>
            </div>
            <th:block sec:authorize="isAuthenticated()" th:with="action='/profile/change-password'"/>
            <th:block sec:authorize="!isAuthenticated()" th:with="action='/change-password'"/>
            <form th:action="@{${action}}" th:object="${password}" method="post">
                <div class="form-group">
                    <input type="hidden" name="token" th:value="${token}"/>
                    <label th:for="password" th:text="#{registration.lable.password}">Password</label>
                    <input class="form-control item" type="password" th:field="*{password}"
                           th:classappend="${not #lists.isEmpty(#fields.errors('password'))} ? 'is-invalid'"
                           required>
                    <div class="invalid-feedback">
                        <ul th:each="error: ${#fields.errors('password')}">
                            <li th:each="message : ${error.split(',')}">
                                <p th:text="${message}">Invalid data</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label th:for="matchingPassword"
                           th:text="#{registration.lable.matchingPassword}">Password</label>
                    <input class="form-control item" type="password" th:field="*{matchingPassword}"
                           th:classappend="${not #lists.isEmpty(#fields.globalErrors())} ? 'is-invalid'"
                           required>
                    <div class="invalid-feedback">
                        <p th:each="error : ${#fields.globalErrors()}" th:text="${error}">Invalid
                            data</p>
                    </div>
                </div>

                <button class="btn btn-primary btn-block" type="submit"
                        th:text="#{form.heading.changePass}">ChangePass
                </button>
            </form>
        </div>

    </section>
</main>

<footer th:replace="fragments/footer::footer">Footer</footer>
<th:block th:replace="fragments/scripts::scripts">Scripts</th:block>
</body>
</html>