<th:block th:fragment="scripts" xmlns:th="https://www.thymeleaf.org">
    <script type="text/javascript"  th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
    <script type="text/javascript"  th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript"  th:src="@{//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript"  th:src="@{//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js}"></script>
</th:block>>